body {
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
}

.container {
  max-width: 720px;
  height: 560px;
  display: flex;
  padding: 40px 20px;
  /* 컨테이너를 가운데로 옮기기 */
  margin: 0 auto;
  margin-top: 80px;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  .hero {
    width: 80px;
    height: 84px;
    background-color: gray;
    border: 3px solid #fff;
    transform: skewX(-15deg);
    border-radius: 10px;
    margin: 0 4px;
    transition: 
      transform .1s,
      background-color .6s;
    overflow: hidden;
    &:hover {
      background-color: #ff9c00;
      transform: 
        scale(1.3)
        skewX(-15deg);
      z-index: 1;
    }
    .image {
      width: 140%;
      height: 100%;
      transform: translateX(-18px) skewX(14deg);
      background-position: center;
      background-size: 90px;
      background-repeat: no-repeat;
    }
    
    @for $i from 1 through 32 {
      // .hero
      &:nth-child(#{$i}) .image {
        background-image: url(./images/hero#{$i}.png);
      }
    }
  }
  .logo img{
    max-width: 400px;
    margin-top: 40px;
  }
}